.profile-card{
  text-align: center;
  h2{
    margin-bottom: 0;
  }
  img{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 50% ;
  }
}

.mat-subtitle-2{
  margin-left: 5px;
  margin-bottom: 5px;
}

