<mat-card>
  <h1 style="text-align: center">Add Income</h1>
  <mat-card-content>
    <form class="form-elements" formGroup="form">

      <span class="p-float-label p-input-icon-left">
      <i class="pi pi-th-large"></i>
      <p-dropdown id="category" [filter]="true" [options]="categories" placeholder="Select a Category" optionLabel="category"></p-dropdown>
      <label for="category">Category</label>
      </span>

      <br>
      <br>
      <span class="p-float-label p-input-icon-left">
      <i class="pi pi-dollar"></i>
      <input class="p-inputtext" pInputText pKeyFilter="int" id="amount"/>
      <label for="amount">Amount</label>
      </span>

      <br>
      <br>

      <span class="p-float-label">
      <textarea id="description" style="width: 100%;" pInputTextarea></textarea>
      <label for="description">Description</label>
      </span>

      <br>

      <span class="button-group">
      <button pButton pRipple label="Submit" class="p-button-success" style="margin-right: 10px"></button>
      <button type="reset" pButton pRipple label="Reset" class="p-button-danger" style="margin-left: 10px"></button>
    </span>
    </form>
  </mat-card-content>
</mat-card>
