<!--<p-toast key="msg"></p-toast>-->
<div class="center-div surface-card p-4 shadow-2 border-round w-4">
  <div class="text-center mb-5">
    <img src="https://blocks.primeng.org/assets/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3">
    <div class="text-900 text-3xl font-medium mb-3">Login to Continue</div>
    <span class="text-600 font-medium line-height-3">Don't have an account?</span>
    <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
  </div>

  <form (ngSubmit)="generateTokens()">
    <label for="email1" class="block text-900 font-medium mb-2">Email</label>
    <input id="email1" [(ngModel)]="email" name="email" type="text" placeholder="Email address" pInputText class="w-full mb-3" required>

    <label for="password1" class="block text-900 font-medium mb-2">Password</label>
    <input id="password1" [(ngModel)]="password" name="password" type="password" placeholder="Password" pInputText class="w-full mb-3" required>

    <div class="flex align-items-center justify-content-between mb-6">
      <div class="flex align-items-center">
        <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
        <label for="rememberme1" class="text-900">Remember me</label>
      </div>
      <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
    </div>

    <button type="submit" pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
  </form>
</div>
