
<div class="form">
  <mat-card>
    <mat-card-content>
      <form class="form-elements" formGroup="form">
        <h1 style="text-align: center">Add Income</h1>
        <span class="p-float-label">
      <p-dropdown id="category" [options]="categories" placeholder="Select a Category" optionLabel="category"></p-dropdown>
      <label for="category">Category</label>
    </span>
        <br>
        <span class="p-float-label">
      <input class="p-inputtext" pInputText pKeyFilter="int" id="userId"/>
      <label for="userId">User Id</label>
    </span>
        <br>
        <span class="p-float-label p-input-icon-left">
      <i class="pi pi-dollar"></i>
      <input class="p-inputtext" pInputText pKeyFilter="int" id="amount"/>
      <label for="amount">Amount</label>
    </span>
        <br>
        <span class="p-float-label">
      <textarea id="description" rows="5" cols="30" pInputTextarea></textarea>
      <label for="description">Description</label>
    </span>
        <span class="button-group">
      <button pButton pRipple label="Submit" class="p-button-success" style="margin-right: 10px"></button>
      <button type="reset" pButton pRipple label="Reset" class="p-button-danger" style="margin-left: 10px"></button>
    </span>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <p-table [value]="incomeList" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>User Name</th>
            <th>User Id</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Created At</th>
            <th>Description</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-incomeList>
          <tr>
            <td>{{ incomeList.user.name }}</td>
            <td>{{ incomeList.user.id }}</td>
            <td>{{ incomeList.user.email }}</td>
            <td>{{ incomeList.amount }}</td>
            <td>{{ incomeList.category }}</td>
            <td>{{ incomeList.created_at|formatDate}}</td>
            <td>{{ incomeList.description }}</td>
          </tr>
        </ng-template>
      </p-table>
    </mat-card-content>
  </mat-card>

</div>
