.form{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
}
.p-float-label{
  margin-bottom: 5px;
}
.form-elements{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
